.spacer {
    flex: 1 1 auto;
  }
  app-sidenav{
    position: absolute;
    left: 0rem;
    width: 100px;
    height: calc(100vh - 4rem);
}
.black-border{
    border: 1px solid black;
}

app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}
main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-sidenav{
    position: absolute;
    left: 0rem;
    width: 120px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(34, 34, 34, 1);
}
.display-area {
    position: absolute;
    left: 120px;
    width: calc(100%-120px);
}